*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.continer{
    width: 1100px;
    height: 2000px;
    background-color: rgb(215, 209, 209);
    margin-left: 19%;
    padding: 10px;
    border-radius: 35px;
    box-shadow: black 2px 2px 20px 15px; 
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 150, 150);
    padding: 10px;
    height: 230px;
    border-radius: 35px;
    
}
header h1{
    text-align: center;
    height: 120px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 400px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: black 5px 5px 10px 5px;
    border-radius: 15px;
    transition: 0.5s;
    font-weight: 900;
    
}
header h1:hover{
    transform: scale(1.2);
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:  80px;
    height: 80px;
    margin: 5px;
    transition: 0.5s;
}
img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.line1{
    display: flex;
    position: absolute;
    top: 160px;
    left: 1000px;
}
.line2{
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 50px;
    left: 1000px;
    
}


#sel1{
    width: 500px;
    height: 90px;
    position: absolute;
    left: 55%;
    top: 300px;
    transform: translate(-50%);
    font-size: 50px;
    font-weight: 900;
    box-shadow: black 2px 2px 10px 3px;
    display: block;
}
#op1{
text-align: center;
font-size: 30px;
}

.content{
    position: absolute;
    top: 450px;
    left: 480px;
    font-size: 30px;
    
}

#hj1{
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    left: 550px;
    display: inline;
}
.aa2{
    position: absolute;
    left: 840px;
}
.p5{
    position: absolute;
        top: 65px;
        left: 440px;
        display: inline;
    }
    .bo{
        width: 100%;
        height: 100%;
        background-color: rgb(92, 185, 197);
        padding: 20px;
        
    }
#dateDisplay{
    position: absolute;
    top: 67px;
    left: 170px;
    font-weight: 900;
    font-size: 30px;
}
#current-time{
    width: fit-content;
    position: absolute;
    top: 65px;
    left: -100px;
}
.t1{
    position: absolute;
    top: 65px;
    left: 100px;
}
.in1{
    width: 150px;
    height: 40px;
    font-size: 20px ;
    text-align: center;
    border-radius: 20px;
}
.ind{
    position: absolute;
    display: inline;
    top: 180px;
    left: 320px;
    
}
.p6{
    position: absolute;
    top: 120px;
    left: 10000;
}
.p7{
    display: inline;
    position: absolute;
    top: 180px;
    left: 500px;
}
.p8{
    position: absolute;
    top: 180px;
    left: 160px;
}
.inb{
    position: absolute;
    top: 180px;
    left: -20px;
}
.p9{
    position: absolute;
    top: 240px;
    left: 600px;
}
.ina{
    position: absolute;
    top: 240px;
    left: 400px;
}
.p10{
    position: absolute;
    top: 240px;
    left: 170px;
}
.inx{
    position: absolute;
    top: 240px;
    left: -10px;
}
.p11{
    position: absolute;
    top: 300px;
    left: 600px;
}
.inq{
    position: absolute;
    top: 300px;
    left: 400px;
}
.p12{
    position: absolute;
    top: 300px;
    left: 190px;
}
.inz{
    position: absolute;
    top: 300px;
    left: -20px;
}
#signature-canvas {
    border: 3px solid #000000;
    position: absolute;
    top: 300px;
    left: -50px;
    
}
.p13{
    position: absolute;
    top: 300px;
    left: 600px;
}
.inm{
    position: absolute;
    top: 300px;
    left: 400px;
}
#w3{
    position: absolute;
    top: 370px;
    left: 500px;
}
.hr1{
    position: relative;
    color: #000000;
    top: 350px;
    width: 850px;
    height: 20px;
}
.h11{
    position: absolute;
    top: 500px;
    left: 200px;
}
.p14{
    position: absolute;
    top: 570px;
    left: 600px;
    text-align: center;
}
.p15{
    position: absolute;
    top: 720px;
    left: 300px;
    text-align: center;
}
.p16{
    position: absolute;
    top: 570px;
    left: -150px;
    text-align: center;
}
.p17{
    text-align: center;
    position: absolute;
    top:700px;
    left: 600px;
}
.p18{
    position: absolute;
    text-align: center;
    top: 870px;
    left: 600px;
}
.p19{
    position: absolute;
    top: 740px;
    left: -140px;
    text-align: center;
}
.p20{
    position: absolute;
    top: 870px;
    text-align: center;
    left: -150px;
}
.hr2{
    position: relative;
    color: #000000;
    top: 850px;
    width: 850px;
    height: 20px;
}
ul{
    position: absolute;
    top: 1020px;
    left: -200px;
    padding-right: 10px;
}
.but1{
    position: absolute;
    top: 1450px;
    width: 300px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    border: rgb(0, 0, 0) solid 4px;
    background-color: rgb(30, 62, 177);
    outline: none;
    color: #ffffff;
    left: 200px;
    border-radius: 25px;
}










             /* @media */














@media(max-width:1300px){
    .continer{
        width: 900px;
        height: 2000px;
        margin-left: 1%;
        padding: 10px;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 150px;
        
    }
    header h1{
        height: 60px;
        width:170px ;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 150px;
        font-size: 20px;
    }

    .logos{
        
        position: absolute;
        left: -600px;
        top: 1px;
    }
    img{
        width:  50px;
        height: 50px;
        margin: 5px;
        transition: 0.5s;
    }
    img:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    .line1{
        display: flex;
        position: absolute;
        top: 120px;
        left: 1000px;
    }
    .line2{
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 50px;
        left: 1000px;
        
    }
    
    
    #sel1{
        width: 200px;
        height: 50px;
        position: absolute;
        left: 55%;
        top: 200px;
        transform: translate(-50%);
        font-size: 20px;
        font-weight: 900;
        box-shadow: black 2px 2px 10px 3px;
    }
    #op1{
    text-align: center;
    font-size: 20px;
    }
    
    .content{
        position: absolute;
        top: 280px;
        left: 180px;
        font-size: 20px;
        
    }
    
    #hj1{
        font-size: 20px;
        font-weight: 900;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 65px;
        left: 490px;
        display: inline;
    }
    .aa2{
        position: absolute;
        left: 680px;
    }
    .p2{
        position: absolute;
        left: 130px;
    }
    .p5{
        position: absolute;
            top: 65px;
            left: 420px;
            display: inline;
        }
        .bo{
            width: 100%;
            height: 100%;
            background-color: rgb(92, 185, 197);
            padding: 20px;
            
        }
    #dateDisplay{
        position: absolute;
        top: 67px;
        left: 240px;
        font-weight: 900;
        font-size: 20px;
    }
    #current-time{
        width: fit-content;
        position: absolute;
        top: 65px;
        left: 70px;
    }
    .t1{
        position: absolute;
        top: 65px;
        left: 190px;
    }
    .in1{
        width: 110px;
        height: 30px;
        font-size: 15px ;
        text-align: center;
    }
    .p6{
        position: absolute;
        top: 100px;
        left: 190px;
    }
    .ind{
        position: absolute;
        top: 135px;
        left: 400px;
        
    }
    .p7{
        position: absolute;
        top: 135px;
        left: 525px;
    }
    .p8{
        position: absolute;
        top: 135px;
        left: 280px;
    }
    .inb{
        position: absolute;
        top: 135px;
        left: 150px;
    }
    .p9{
        position: absolute;
        top: 135px;
        left: 10px;
    }
    .ina{
        position: absolute;
        top: 135px;
        left: -120px;
    }
    .p10{
        position: absolute;
        top: 180px;
        left: 570px;
    }
    .inx{
        position: absolute;
        top: 180px;
        left: 440px;
    }
    .p11{
        position: absolute;
        top: 300px;
        left: 600px;
    }
    .inq{
        position: absolute;
        top: 300px;
        left: 400px;
    }
    .p12{
        position: absolute;
        top: 240px;
        left: 190px;
        font-size: 30px;
    }
    .inz{
        position: absolute;
        top: 300px;
        left: -20px;
    }
    #signature-canvas {
        position: absolute;
        top: 220px;
        left: -50px;
        
    }
    .p13{
        position: absolute;
        top: 180px;
        left: 340px;
    }
    .inm{
        position: absolute;
        top: 180px;
        left: 210px;
    }
    #w3{
        position: absolute;
        top: 250px;
        left: 400px;
    }
    .hr1{
        position: relative;
        top: 350px;
        width: 700px;
    }
    .h11{
        position: absolute;
        top: 500px;
        left: 200px;
    }
    .p14{
        position: absolute;
        top: 570px;
        left: 500px;
        text-align: center;
    }
    .p15{
        position: absolute;
        top: 700px;
        left: 250px;
        text-align: center;
    }
    .p16{
        position: absolute;
        top: 570px;
        left: -90px;
        text-align: center;
    }
    .p17{
        text-align: center;
        position: absolute;
        top:700px;
        left: 450px;
    }
    .p18{
        position: absolute;
        text-align: center;
        top: 870px;
        left: 450px;
    }
    .p19{
        position: absolute;
        top: 740px;
        left: -90px;
        text-align: center;
    }
    .p20{
        position: absolute;
        top: 870px;
        text-align: center;
        left: -90px;
    }
    .hr2{
        position: relative;
        top: 850px;
        width: 700px;
    }
    ul{
        position: absolute;
        top: 1020px;
        left: -100px;
        padding-right: 200px;
    }
    .but1{
        position: absolute;
        top: 1450px;
        width: 300px;
        height: 80px;
        font-size: 40px;
        text-align: center;
        font-weight: 900;
        border: rgb(0, 0, 0) solid 4px;
        background-color: rgb(30, 62, 177);
        outline: none;
        color: #ffffff;
        left: 200px;
        border-radius: 25px;
    }
}